#footer{
    background-color: rgba(64, 2, 122, 0.897);
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Lemon', cursive;
}

#footer a:hover{
    color: rgb(0, 242, 255);
}

#footer a{
    color: white;
    border-radius: 6px;
    text-decoration: none;
}
#header{
    margin-bottom: 10px;
}
#header img{
    width: 100px;
    margin-top: 10px;
}

nav{
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
}

#membresia{
    color: rgb(82, 9, 150) ;
}

#main .carousel-inner img{
    max-height: 20vmax;
    display: block;
    object-fit: cover;
    margin: auto;
    width: max-content;
}

#header .nav-link:hover{
    background-color: rgb(0, 255, 179);
    border-radius: 5px;
}